@import "../../sass/vars.scss";

.message-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 10px;

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;

        .message-item-image {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $gray;
            margin-bottom: 2px;
        }

        .message-item-name {
            text-align: center;
            max-width: 75px;
            height: auto;
            font-size: 12px;
        }
    }

    .message-item-id {
        display: none;
    }
}