@font-face {
	font-family: 'Roboto Regular';
	src: url('https://fonts.googleapis.com/css?family=Open+Sans');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('https://fonts.googleapis.com/css?family=Open+Sans:700');
	font-weight: 700;
	font-style: normal;
}