@import "./sass/fonts";
@import "./sass/vars";
@import "./sass/normalize.scss";

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $wetAsphalt;
    color: $whiteClay;
    font-family: $robotoReg;
    font-size: 14px;

    .page-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: calc(100vw - 40px);;
        min-height: calc(100vh - 285px);
        padding: 20px;
        height: auto;
        background-color: transparent;
        overflow-y: visible;
    }
}
