// COLORS
$lemonTree: #c7d744;
$black: #000000;
$wetAsphalt: #272525;
$gray: #a1a1a5;
$lightGray: #ebebeb;
$whiteClay: #f5f5f5;
$whiteClayLighter: #f9f9f7;
$white: #ffffff;

// FONTS
$robotoReg: 'Roboto Regular', Arial, sans-serif;
$robotoBold: 'Roboto Bold', Arial, sans-serif;